.sequencer {
    & .sequencer__container {
        & > h3 {
            font-family: var(--font);
            font-size: 3rem;
            font-weight: 700;
            color: var(--noir);
            text-shadow: 2px 2px 5px color-mix(in srgb, var(--noir) 30%, transparent);
            text-align: center;
        }

        & .sequencer__controls {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 1rem;

            margin-top: 1.4rem;
            margin-bottom: 1rem;

            font-family: var(--font);
            font-size: 1.2rem;
            font-weight: 700;
            & > label {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.2rem;

                & > input {
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    width: 3em;
                    height: 2em;

                    font-family: var(--font);
                    font-size: 1.4rem;
                    font-weight: 700;
                    text-align: center;

                    border: 1px solid var(--gris);
                    border-radius: 0.5rem;
                    background-color: var(--blanc);
                }
            }
        }

        & .sequencer__grid {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 1rem;

            padding: 1rem;

            & > .row {
                position: relative;
                display: flex;
                justify-content: space-between;
                gap: 0.2rem;

                width: 100%;

                & > div {
                    right: -6rem;
                }
                & > .cell:nth-last-child(2) {
                    margin-right: 0 !important;
                }
                & > .cell:nth-child(4n){
                    margin-right: 1rem;
                }

                & > .cell {
                    width: 2em;
                    height: 2em;
                    &:has(input:checked) {
                        background-color: var(--jaune);
                        box-shadow: inset 0 0 0 0.6rem var(--jaune);
                    }

                    &.active:has(input:checked) {
                        box-shadow: inset 0 0 0 0.2rem var(--gris);
                    }

                    &.active {
                        box-shadow: inset 0 0 0 0.2rem var(--jaune);
                    }

                    transition:
                        background-color 0.1s,
                        box-shadow 0.1s;
                    box-shadow: inset 0 0 0 0.4rem var(--gris);

                    & > label {
                        width: 2em;
                        height: 2em;

                        & > input {
                            width: 100%;
                            height: 100%;
                            opacity: 0;

                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
