.react-flow__edge-path {
    stroke: var(--vert);
    fill: none;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
}
.react-flow__edge.selected .react-flow__edge-path {
    stroke: var(--noir);
}
.react-flow__edge.animated .react-flow__edge-path {
    transition: stroke 0.1s;
}

.react-flow__connection-path {
    stroke: var(--vert);
    fill: none;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
}

.react-flow__handle {
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: var(--blanc);
    border: 2px solid var(--vertNode);
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition:
        background-color 0.3s ease-in-out,
        border-color 0.3s ease-in-out;

        &.target {
            top: -3rem;
        }

        &.source {
            bottom: -3rem;
        }
}
.flow .react-flow__handle-valid {
    background-color: var(--vert) !important;
    border-color: var(--noir) !important;
}

.flow .react-flow__handle-connecting {
    background: #ff6060;
    border-color: #ff6060;
}

.flow .react-flow__handle:not(.connectable) {
    background-color: var(--vert) !important;
    border-color: var(--noir) !important;
}
